%h1= "Uploads"

= render partial: 'upload_form'

.mt-4
- if @uploads.present?
  = render partial: 'uploads_table', locals: { uploads: @uploads }
- else
  .alert.alert-secondary{ role: :alert }
    No uploads
