.navbar.navbar-expand-lg.navbar-light.bg-light
  %a{ class: "navbar-brand", href: "/ui" }= t('title.app')

  .collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        %a.btn.btn-outline-secondary{ href: '/auth/login?cb=../ui' }
          - if current_user.valid?
            = t('action.login')
          - else
            = t('action.login_again')


    %ul.navbar-nav
      %li.navbar-text
        = current_user.email
